<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application android:supportsRtl="true">
    <activity
        android:name="com.margelo.nitro.inksignpdf.LowLatencyInkSmokeActivity"
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:showWhenLocked="true"
        android:turnScreenOn="true"
        android:exported="false" />
  </application>
</manifest>
